version: '3.8'

services:
  api-service:
    build: .
    container_name: api-service
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - big-data-network
   

networks:
  big-data-network:
    external: true