version: "3.8"
services:
  nifi:
    image: 'apache/nifi:1.28.0'
    container_name: nifi
    ports:
      - '8443:8443'
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_SENSITIVE_PROPS_KEY=minimalnifikey1234567890
      - HADOOP_CONF_DIR=/opt/nifi/nifi-current/conf/hadoop-conf
      - HADOOP_USER_NAME=root
    volumes:
      - nifi_data:/opt/nifi/nifi-current
      - ./hadoop-conf:/opt/nifi/nifi-current/conf/hadoop-conf:ro
    networks:
      - big-data-network

volumes:
  nifi_data:

networks:
  big-data-network:
    external: true
