version: "3.8"
services:
  nifi:
    image: 'apache/nifi:1.28.0'
    container_name: nifi
    ports:
      - '8443:8443'
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_SENSITIVE_PROPS_KEY=minimalnifikey1234567890
      - HADOOP_CONF_DIR=/opt/nifi/nifi-current/conf/hadoop-conf
      - HADOOP_USER_NAME=root
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin123456!
    volumes:
      - nifi_data:/opt/nifi/nifi-current
      - ./hadoop-conf:/opt/nifi/nifi-current/conf/hadoop-conf:ro
    networks:
      - big-data-network

  nifi-registry:
    image: 'apache/nifi-registry:1.28.0'
    container_name: nifi-registry
    ports:
      - "18080:18080"
    environment:
      - NIFI_REGISTRY_WEB_HTTP_PORT=18080
    volumes:
      # - ./nifi-registry-flow-storage:/opt/nifi-registry/nifi-registry-current/flow_storage
      - ./nifi-registry-data/nifi-registry-current:/opt/nifi-registry/nifi-registry-current
    networks:
      - big-data-network

volumes:
  nifi_data:

networks:
  big-data-network:
    external: true