version: '3.8'
services:

  # -----------------------------
  # HDFS NameNode
  # -----------------------------
  namenode:
    image: apache/hadoop:3
    hostname: namenode
    container_name: namenode
    command: [ "hdfs", "namenode" ]
    ports:
      - 9870:9870
      - 8020:8020
    environment:
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./namenode:/hadoop/dfs/name
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network
    healthcheck:
      test: ["CMD-SHELL", "hdfs dfsadmin -safemode get | grep -q 'OFF'"]
      interval: 5s
      timeout: 3s
      retries: 40
      start_period: 10s


  # -----------------------------
  # HDFS DataNodes
  # -----------------------------
  datanode1:
    image: apache/hadoop:3
    hostname: datanode1
    container_name: datanode1
    command: [ "hdfs", "datanode" ]
    environment:
      CLUSTER_NAME: "hadoop-cluster"
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./datanode1:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  datanode2:
    image: apache/hadoop:3
    hostname: datanode2
    container_name: datanode2
    command: [ "hdfs", "datanode" ]
    environment:
      CLUSTER_NAME: "hadoop-cluster"
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./datanode2:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml

  datanode3:
    image: apache/hadoop:3
    hostname: datanode3
    container_name: datanode3
    command: [ "hdfs", "datanode" ]
    environment:
      CLUSTER_NAME: "hadoop-cluster"
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./datanode3:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml


  # -----------------------------
  # YARN ResourceManager
  # -----------------------------
  resourcemanager:
    image: apache/hadoop:3
    hostname: resourcemanager
    container_name: resourcemanager
    command: [ "yarn", "resourcemanager" ]
    ports:
      - 8088:8088
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network
    depends_on:
      namenode:
        condition: service_healthy


  # -----------------------------
  # YARN NodeManagers
  # -----------------------------
  nodemanager1:
    image: apache/hadoop:3
    hostname: nodemanager1
    container_name: nodemanager1
    command: [ "yarn", "nodemanager" ]
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    depends_on:
      resourcemanager:
        condition: service_started
    volumes:
      - ./nm1:/hadoop_tmp/nm-local-dir
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  nodemanager2:
    image: apache/hadoop:3
    hostname: nodemanager2
    container_name: nodemanager2
    command: [ "yarn", "nodemanager" ]
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    depends_on:
      resourcemanager:
        condition: service_started
    volumes:
      - ./nm2:/hadoop_tmp/nm-local-dir
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  nodemanager3:
    image: apache/hadoop:3
    hostname: nodemanager3
    container_name: nodemanager3
    command: [ "yarn", "nodemanager" ]
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    depends_on:
      resourcemanager:
        condition: service_started
    volumes:
      - ./nm3:/hadoop_tmp/nm-local-dir
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  # -----------------------------
  # YARN HistoryServer
  # -----------------------------
  historyserver:
    image: apache/hadoop:3
    hostname: historyserver
    container_name: historyserver
    command: [ "mapred", "historyserver" ]
    ports:
      - 19888:19888
    environment:
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network


  # -----------------------------
  # Kafka brokers (KRaft mode) <- w tym nowym modzie zookeper nie jest potrzebny
  # -----------------------------
  kafka1:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka1
    container_name: kafka1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: 'false'
      CLUSTER_ID: "Mhwr48ECRyiC3J6oLSOESg"
      KAFKA_CLUSTER_ID: "Mhwr48ECRyiC3J6oLSOESg"
    ports:
      - 9092:9092
    networks:
      - big-data-network

  kafka2:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka2
    container_name: kafka2
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9092
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: 'false'
      CLUSTER_ID: "Mhwr48ECRyiC3J6oLSOESg"
      KAFKA_CLUSTER_ID: "Mhwr48ECRyiC3J6oLSOESg"
    ports:
      - 9093:9092
    networks:
      - big-data-network

networks:
  big-data-network:
    external: true