version: '3.8'
services:

  # -----------------------------
  # HDFS NameNode
  # -----------------------------
  namenode:
    image: apache/hadoop:3
    hostname: namenode
    container_name: namenode
    command: /bin/bash -c "if [ ! -d /hadoop/dfs/name/current ]; then hdfs namenode -format; fi && hdfs namenode"
    ports:
      - 9870:9870
      - 8020:8020
    user: "root"
    environment:
      HADOOP_HOME: "/opt/hadoop"
   #   ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    volumes:
      - ./hadoop-data/namenode:/hadoop/dfs/name
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network
    healthcheck:
      test: ["CMD-SHELL", "hdfs dfsadmin -safemode get | grep -q 'OFF'"]
      interval: 5s
      timeout: 3s
      retries: 40
      start_period: 10s


  # -----------------------------
  # HDFS DataNodes
  # -----------------------------
  datanode1:
    image: apache/hadoop:3
    hostname: datanode1
    container_name: datanode1
    command: [ "hdfs", "datanode" ]
    user: "root"
    environment:
      CLUSTER_NAME: "hadoop-cluster"
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./hadoop-data/datanode1:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  datanode2:
    image: apache/hadoop:3
    hostname: datanode2
    container_name: datanode2
    command: [ "hdfs", "datanode" ]
    user: "root"
    environment:
      CLUSTER_NAME: "hadoop-cluster"
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./hadoop-data/datanode2:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
    - big-data-network

  datanode3:
    image: apache/hadoop:3
    hostname: datanode3
    container_name: datanode3
    command: [ "hdfs", "datanode" ]
    user: "root"
    environment:
      CLUSTER_NAME: "hadoop-cluster"
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./hadoop-data/datanode3:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
    - big-data-network


  # -----------------------------
  # YARN ResourceManager
  # -----------------------------
  resourcemanager:
    image: apache/hadoop:3
    hostname: resourcemanager
    container_name: resourcemanager
    command: [ "yarn", "resourcemanager" ]
    ports:
      - 8088:8088
    user: "root"
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network
    depends_on:
      namenode:
        condition: service_healthy


  # -----------------------------
  # YARN NodeManagers
  # -----------------------------
  nodemanager1:
    image: apache/hadoop:3
    hostname: nodemanager1
    container_name: nodemanager1
    command: [ "yarn", "nodemanager" ]
    user: "root"
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    depends_on:
      resourcemanager:
        condition: service_started
    volumes:
      - ./hadoop-data/nm1:/hadoop_tmp/nm-local-dir
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  nodemanager2:
    image: apache/hadoop:3
    hostname: nodemanager2
    container_name: nodemanager2
    command: [ "yarn", "nodemanager" ]
    user: "root"
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    depends_on:
      resourcemanager:
        condition: service_started
    volumes:
      - ./hadoop-data/nm2:/hadoop_tmp/nm-local-dir
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  nodemanager3:
    image: apache/hadoop:3
    hostname: nodemanager3
    container_name: nodemanager3
    command: [ "yarn", "nodemanager" ]
    user: "root"
    environment:
      HADOOP_HOME: "/opt/hadoop"
      YARN_HOME: "/opt/hadoop"
    depends_on:
      resourcemanager:
        condition: service_started
    volumes:
      - ./hadoop-data/nm3:/hadoop_tmp/nm-local-dir
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  # -----------------------------
  # YARN HistoryServer
  # -----------------------------
  historyserver:
    image: apache/hadoop:3
    hostname: historyserver
    container_name: historyserver
    command: [ "mapred", "historyserver" ]
    ports:
      - 19888:19888
    user: "root"
    environment:
      HADOOP_HOME: "/opt/hadoop"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network


networks:
  big-data-network:
    name: big-data-network
    external: true
