version: '3.8'
services:

  # -----------------------------
  # HDFS NameNode
  # -----------------------------
  namenode:
    image: apache/hadoop:3
    hostname: namenode
    container_name: namenode
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870  # NameNode UI
      - 8020:8020  # RPC
    #environment:
    #  ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    volumes:
      - ./init-hdfs.sh:/opt/hadoop/init-hdfs.sh
      - ./namenode:/hadoop/dfs/name
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - big-data-network

  # -----------------------------
  # HDFS DataNodes
  # -----------------------------
  datanode1:
    image: apache/hadoop:3
    hostname: datanode1
    command: ["hdfs", "datanode"]
    environment:
      CLUSTER_NAME: "hadoop-cluster"
    volumes:
      - ./datanode1:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - big-data-network

  datanode2:
    image: apache/hadoop:3
    hostname: datanode2
    command: ["hdfs", "datanode"]
    environment:
      CLUSTER_NAME: "hadoop-cluster"
    volumes:
      - ./datanode2:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - big-data-network

  datanode3:
    image: apache/hadoop:3
    hostname: datanode3
    command: ["hdfs", "datanode"]
    environment:
      CLUSTER_NAME: "hadoop-cluster"
    volumes:
      - ./datanode3:/hadoop/dfs/data
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - big-data-network

  # -----------------------------
  # YARN ResourceManager
  # -----------------------------
  resourcemanager:
    image: apache/hadoop:3
    hostname: resourcemanager
    container_name: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
      - 8088:8088  # YARN UI
    environment:
      YARN_HOME: "/opt/hadoop"
    volumes:
      - ./conf/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./conf/capacity-scheduler.xml:/opt/hadoop/etc/hadoop/capacity-scheduler.xml
    networks:
      - big-data-network

  # -----------------------------
  # YARN NodeManagers
  # -----------------------------
  nodemanager1:
    image: apache/hadoop:3
    hostname: nodemanager1
    command: ["yarn", "nodemanager"]
    environment:
      YARN_HOME: "/opt/hadoop"
    networks:
      - big-data-network

  nodemanager2:
    image: apache/hadoop:3
    hostname: nodemanager2
    command: ["yarn", "nodemanager"]
    environment:
      YARN_HOME: "/opt/hadoop"
    networks:
      - big-data-network

  nodemanager3:
    image: apache/hadoop:3
    hostname: nodemanager3
    command: ["yarn", "nodemanager"]
    environment:
      YARN_HOME: "/opt/hadoop"
    networks:
      - big-data-network

  # -----------------------------
  # YARN HistoryServer
  # -----------------------------
  historyserver:
    image: apache/hadoop:3
    hostname: historyserver
    container_name: historyserver
    command: ["mapred", "historyserver"]
    ports:
      - 19888:19888  # HistoryServer UI
    environment:
      HADOOP_HOME: "/opt/hadoop"
    networks:
      - big-data-network

  # -----------------------------
  # Kafka brokers (KRaft mode) <- w tym nowym modzie zookeper nie jest potrzebny
  # -----------------------------
  kafka1:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka1
    container_name: kafka1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: 'false'
      KAFKA_CLUSTER_ID: "012345678901234567890123456789012"  # Użyj tego samego ID co w kafka1
    ports:
      - 9092:9092
    networks:
      - big-data-network

  kafka2:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka2
    container_name: kafka2
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9092
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: 'false'
      KAFKA_CLUSTER_ID: "012345678901234567890123456789012"  # Użyj tego samego ID co w kafka1
    ports:
      - 9093:9092
    networks:
      - big-data-network

networks:
  big-data-network:
    external: true