version: '3.8'

services:

  # ===== HDFS =====
  namenode:
    image: apache/hadoop:3
    hostname: namenode
    container_name: namenode
    command: ["hdfs", "namenode"]
    env_file:
      - ./config
    environment:
      ENSURE_NAMENODE_DIR: "/hadoop/dfs/name"
    volumes:
      - nn_data:/hadoop/dfs/name
      - ./init-hdfs.sh:/opt/hadoop/init-hdfs.sh
    ports:
      - "9870:9870"  # NameNode UI
      - "8020:8020"  # RPC
    networks:
      - hadoop-net

  datanode1:
    image: apache/hadoop:3
    hostname: datanode1
    container_name: datanode1
    command: ["hdfs", "datanode"]
    env_file:
      - ./config
    volumes:
      - dn1_data:/hadoop/dfs/data
    networks:
      - hadoop-net

  datanode2:
    image: apache/hadoop:3
    hostname: datanode2
    container_name: datanode2
    command: ["hdfs", "datanode"]
    env_file:
      - ./config
    volumes:
      - dn2_data:/hadoop/dfs/data
    networks:
      - hadoop-net

  datanode3:
    image: apache/hadoop:3
    hostname: datanode3
    container_name: datanode3
    command: ["hdfs", "datanode"]
    env_file:
      - ./config
    volumes:
      - dn3_data:/hadoop/dfs/data
    networks:
      - hadoop-net

  # ===== YARN =====
  resourcemanager:
    image: apache/hadoop:3
    hostname: resourcemanager
    container_name: resourcemanager
    command: ["yarn", "resourcemanager"]
    env_file:
      - ./config
    volumes:
      - ./setup-yarn.sh:/opt/hadoop/setup-yarn.sh
    ports:
      - "8088:8088"  # RM UI
    networks:
      - hadoop-net

  nodemanager1:
    image: apache/hadoop:3
    hostname: nodemanager1
    container_name: nodemanager1
    command: ["yarn", "nodemanager"]
    env_file:
      - ./config
    networks:
      - hadoop-net

  nodemanager2:
    image: apache/hadoop:3
    hostname: nodemanager2
    container_name: nodemanager2
    command: ["yarn", "nodemanager"]
    env_file:
      - ./config
    networks:
      - hadoop-net

  nodemanager3:
      image: apache/hadoop:3
      hostname: nodemanager3
      container_name: nodemanager3
      command: ["yarn", "nodemanager"]
      env_file:
        - ./config
      networks:
        - hadoop-net

  historyserver:
    image: apache/hadoop:3
    hostname: historyserver
    container_name: historyserver
    command: ["mr-jobhistory-daemon.sh", "start", "historyserver"]
    env_file:
      - ./config
    ports:
      - "19888:19888"
    networks:
      - hadoop-net

  # ===== Kafka (KRaft mode) =====
  kafka1:
    image: confluentinc/cp-kafka:7.4.0
    hostname: kafka1
    container_name: kafka1
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093,2@kafka2:9093
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
    volumes:
      - kafka1_data:/var/lib/kafka/data
    ports:
      - "9092:9092"
    networks:
      - hadoop-net

  kafka2:
    image: confluentinc/cp-kafka:7.4.0
    hostname: kafka2
    container_name: kafka2
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_BROKER_ID: 2
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093,2@kafka2:9093,3@kafka3:9093
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
    volumes:
      - kafka2_data:/var/lib/kafka/data
    networks:
      - hadoop-net


  # ===== API / Data Sources =====
  api-service:
    build:
      context: ../data-sources
    container_name: api-service
    ports:
      - "8000:8000"
    env_file:
      - ../data-sources/.env    # <- Twój prawdziwy plik z wartościami (może być mock)
    restart: unless-stopped
    networks:
      - hadoop-net
    depends_on:
      - kafka1
      - kafka2
      - namenode


# ===== Volumes =====
volumes:
  nn_data:
  dn1_data:
  dn2_data:
  dn3_data:
  kafka1_data:
  kafka2_data:

# ===== Sieć =====
networks:
  hadoop-net:
    driver: bridge
